[gerrit]
	basePath = git
[database]
	type = MYSQL
	hostname = localhost
	port = @db.port@
	database = reviewdb
	username = @gerrit.db.user@
	password = @gerrit.db.password@
[auth]
	type = LDAP
[ldap]
	server = ldap://localhost:@ldap.port@
	username = @ldap.bind.dn@
	password = @ldap.bind.password@
	accountBase = @ldap.user.base@
	accountScope = sub
	accountFullName = cn
	accountEmailAddress = mail
	groupBase = ou=gerrit,@ldap.group.base@
	groupScope = sub
	groupPattern = (cn=$\{groupname\})
	groupMemberPattern = (uniqueMember=$\{username\})
	
[sendemail]
	enable = false
[container]
	javaHome = @jdk.home.java@
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
